* {
    box-sizing: border-box;
}

main {
    background-image: url(../assets/backgroup01_dky.png);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #e0e0e0;
}

.container {
    max-width: 1441px;
    margin: auto;
    padding: 20px;
    border-radius: 0px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
}

.tracuu {
    max-width: 669px;
    margin: auto;
    margin-bottom: 50px;
    padding: 40px;
    background-color: #1b361db5;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    font-size: 48px;
    color: #fff;
    margin: auto;
}

.button-group {
    margin-bottom: auto;
}

.btn1 {
    width: 279px;
    height: 58px;
    padding: 10px 20px;
    margin: 4px;
    border: none;
    border-radius: 5px;
    background-color: #e6ffe8;
    color: rgb(10, 10, 10);
    cursor: pointer;
    font-size: 16px;
}

.btn2 {
    width: 279px;
    height: 58px;
    padding: 10px 20px;
    margin: 4px;
    border: none;
    border-radius: 5px;
    background-color: #e6ffe8;
    color: rgb(10, 10, 10);
    cursor: pointer;
    font-size: 16px;
}

.btn1:hover {
    background-color: #45a049;
}

.btn2:hover {
    background-color: #45a049;
}

.danhsachcauthu {
    max-width: 1216px;
    margin: auto;
    padding: 20px;
    background-color: #1b361db5;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.header_DSCT {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 45px;
    margin: auto;
    color: #fff;
    align-items: center;
}

.danhsachcauthu .chonmuagiai {
    height: 100px;
    width: 320px;
    position: relative;
    display: inline-block;
    margin-bottom: 40px;
}

.danhsachcauthu .search-box {
    height: 50%;
    margin-top: 20px;
    margin-bottom: 15px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    border: 1px solid #ddd; /* Đường viền để dễ thấy */
    background-color: #e0ffe0;
}

.danhsachcauthu .search-box i {
    font-size: 26px;
}

.danhsachcauthu .search-box input {
    height: 100%;
    width: 100%;
    background: var(--primary-color-light);
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
}

.danhsachcauthu .dropdown-button {
    margin: auto;
    background-color: #e0ffe0;
    padding: 10px 20px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50%;
}

.danhsachcauthu .dropdown-button:hover {
    background-color: #d4ffd4;
}

.danhsachcauthu .dropdown-button span {
    font-size: 16px;
}

.danhsachcauthu .dropdown-button svg {
    width: 12px;
    height: 12px;
    transition: transform 0.3s ease;
}

.danhsachcauthu .dropdown-content {
    display: none;
    position: absolute;
    background-color: #e0ffe0;
    width: 100%;
    border: 1px solid #ccc;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;

    overflow-y: auto; /* Enable vertical scrolling */
    border-radius: 5px;
}

.danhsachcauthu .dropdown-content a {
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
}

.danhsachcauthu .dropdown-content a:hover {
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.danhsachcauthu .rotate {
    transform: rotate(180deg);
}
.danhsachcauthu .table-DSCT {
    border: 1px solid #ccc;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: auto;
    margin-top: 30px;
}
.danhsachcauthu .player-table {
    margin: auto;
    width: 99%;
    border-collapse: collapse;
}

.danhsachcauthu .player-table th,
.player-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}

.danhsachcauthu .player-table th {
    background-color: #e0ffe0;
}
.danhsachcauthu .player-table td {
    color: #fff;
}

.danhsachcauthu .player-table tbody tr:hover {
    background-color: rgba(0, 128, 0, 0.6); /* Màu nền khi hover */
    color: black; /* Giữ màu chữ khi hover */
}

.danhsachcauthu .pagination {
    margin: auto;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.danhsachcauthu #p-1 {
    color: #fff;
    font-size: 30px;
}

.danhsachcauthu #p-2 {
    color: #fff;
    font-size: 30px;
}

.bangxephang {
    max-width: 1216px;

    margin: auto;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.bangxephang .header_BXH {
    display: flex;
    background-color: #1b361db5;
    justify-content: space-between;
    align-items: center;
}

.header_BXH {
    padding: 25px;
    border-radius: 45px;
}
.bangxephang .chonmuagiai {
    height: 100px;
    width: 320px;
    position: relative;
    display: inline-block;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
}

.bangxephang .dropdown-button {
    margin: auto;
    background-color: #e0ffe0;
    padding: 10px 20px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50%;
}

.bangxephang .dropdown-button:hover {
    background-color: #d4ffd4;
}

.bangxephang .dropdown-button span {
    font-size: 16px;
}

.bangxephang .dropdown-button svg {
    width: 12px;
    height: 12px;
    transition: transform 0.3s ease;
}

.bangxephang .dropdown-content {
    display: none;
    position: absolute;
    background-color: #e0ffe0;
    width: 100%;
    border: 1px solid #ccc;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow-y: auto; /* Enable vertical scrolling */
    border-radius: 5px;
}

.bangxephang .dropdown-content a {
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
}

.bangxephang .dropdown-content a:hover {
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.bangxephang .rotate {
    transform: rotate(180deg);
}

.bangxephang .qui-dinh {
    display: flex;
    justify-content: space-between;
    background-color: #1b361db5;
    margin: auto;
    margin-top: 10px;
    height: 120px;
    color: #fff;
}

h3 {
    font-size: 30px;
    color: rgba(170, 255, 167, 1);
    margin: auto;
    margin-bottom: 5px;
}

.noidung {
    margin: auto;
    text-align: left;
}

.noidung strong {
    color: rgba(170, 255, 167, 1);
    font-size: 24px;
}

.noidung #points-lose {
    color: rgba(255, 111, 111, 1);
    font-size: 24px;
}

.noidung li {
    font-size: 20px;
}
.Thaydoi {
    margin: auto;
}

.Thaydoi i {
    font-size: 30px;
    color: rgba(50, 205, 50);
}

.bangxephang .table-BXH {
    border: 1px solid #ccc;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: auto;
    background-color: #1b361db5;
    margin-top: 10px;
}
.bangxephang .player-table {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: 97%;
    border-collapse: collapse;
}

.bangxephang .player-table th,
.player-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}

.bangxephang .player-table th {
    background-color: #e0ffe0;
}
.bangxephang .player-table td {
    color: #fff;
}

.bangxephang .player-table tbody tr:hover {
    background-color: rgba(0, 128, 0, 0.6); /* Màu nền khi hover */
    color: black; /* Giữ màu chữ khi hover */
}

.danhsachcaccauthughiban {
    max-width: 1216px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    background-color: #1b361db5;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.DSCTGB {
    max-width: 720px;
    font-size: 64px;
    margin: auto;
    color: #fff;
    align-items: center;
}

.danhsachcaccauthughiban .header_DSCTGB {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.danhsachcaccauthughiban .chonmuagiai {
    height: 100px;
    width: 320px;
    position: relative;
    display: inline-block;
    margin-bottom: 40px;
}

.danhsachcaccauthughiban .dropdown-button {
    margin: auto;
    background-color: #e0ffe0;
    padding: 10px 20px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    height: 50%;
}

.danhsachcaccauthughiban .dropdown-button:hover {
    background-color: #d4ffd4;
}

.danhsachcaccauthughiban .dropdown-button span {
    font-size: 16px;
}

.danhsachcaccauthughiban .dropdown-button svg {
    width: 12px;
    height: 12px;
    transition: transform 0.3s ease;
}

.danhsachcaccauthughiban .dropdown-content {
    display: none;
    position: absolute;
    background-color: #e0ffe0;
    width: 100%;
    border: 1px solid #ccc;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow-y: auto; /* Enable vertical scrolling */
    border-radius: 5px;
}

.danhsachcaccauthughiban .dropdown-content a {
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
}

.danhsachcaccauthughiban .dropdown-content a:hover {
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.danhsachcaccauthughiban .rotate {
    transform: rotate(180deg);
}
.danhsachcaccauthughiban .table-DSCTGB {
    border: 1px solid #ccc;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: auto;
    margin-top: 30px;
}
.danhsachcaccauthughiban .player-table {
    margin: auto;
    width: 99%;
    border-collapse: collapse;
}

.danhsachcaccauthughiban .player-table th,
.player-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}

.danhsachcaccauthughiban .player-table th {
    background-color: #e0ffe0;
}
.danhsachcaccauthughiban .player-table td {
    color: #fff;
}

.danhsachcaccauthughiban .player-table tbody tr:hover {
    background-color: rgba(0, 128, 0, 0.6); /* Màu nền khi hover */
    color: black; /* Giữ màu chữ khi hover */
}

.danhsachcaccauthughiban .pagination {
    margin: auto;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.danhsachcaccauthughiban #gb-1 {
    color: #fff;
    font-size: 30px;
}

.danhsachcaccauthughiban #gb-2 {
    color: #fff;
    font-size: 30px;
}

.shadow {
    background-color: #707070;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
}
.shadow-active {
    opacity: 0.75;
    visibility: visible;
}

.shadow__box {
    width: 720px;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    border-radius: 20px;
    border: 2px solid #79de7d;
    background: #e6ffe8;
    display: flex;
    align-items: center;
    padding: 20px 25px;
    gap: 20px;
}
.shadow__box-active {
    opacity: 1;
    visibility: visible;
}
.shadow__img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}
.shadow__desc {
    color: #bd6a51;
    font-family: "Be Vietnam Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 10px;
}
.shadow__false {
    color: black;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}
.shadow__false strong {
    color: red;
    font-weight: 700;
}
.shadow__box-conf {
    width: 720px;
    padding: 30px 20px;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    border-radius: 20px;
    border: 2px solid #79de7d;
    background: rgba(94, 178, 252, 0.9);
}
.shadow__box-conf-active {
    opacity: 1;
    visibility: visible;
}
.form__heading-conf {
    line-height: 1.2;
    color: black;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 25px;
}
.form__heading-conf strong {
    color: red;
    font-style: italic;
    font-weight: 500;
    opacity: 0.9;
}
.form__group-conf {
    display: flex;
    padding: 20px 10px;
    gap: 10px;
    align-items: center;
    background-color: #fff;
    border: 1px solid #00ad1a;
    border-radius: 10px;
    gap: 20px;
    flex: 1;
}
.form__group-conf > * {
    flex: 1;
}
.form__group-conf + .form__group-conf {
    margin-top: 25px;
}
.form__label-conf {
    display: block;
    color: black;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 10px;
}
.form__input-conf {
    width: 100%;
    padding: 5px 10px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #bcd6c0;
    color: black;
    background: #f7f5fb;
}
.btn__conf {
    display: block;
    width: 197px;
    height: 46px;
    border-radius: 18px;
    background-color: #569b75;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    margin-left: auto;
    margin-top: 30px;
}
.btn__regulation {
    margin-left: auto;
    width: 60px;
    height: 60px;
    display: block;
    background-image: url(../assets/configDky.svg);
    background-position: center;
}
.regulation__inner {
    margin-top: 45px;
    display: flex;
    align-items: center;
    gap: 45px;
    border-radius: 37px;
    background: rgba(33, 50, 33, 0.54);
    padding: 45px;
}
.search__regulation-heading {
    color: #aaffa7;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 25px;
}
.search__regulation-desc {
    color: #fff;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
}
.search__regulation-desc + .search__regulation-desc {
    margin-top: 15px;
}
strong:not(.lose_point) {
    color: #00ff2f;
}
.lose_point {
    color: #ff6f6f;
}
.search__regulation-content {
    text-align: left;
}
